<div class="main user-show">
  <div class="container">
    <div class="" style="padding-top:50px;">
    <h1>エリア一覧</h1>
    <table>
      <tr>
        <td><p>No.</p></td>
        <td><p>エリア名</p></td>
        <td><p>サービス名</p></td>
        <td><p>更新日時</p></td>
      </tr>
      <% @allPlaces.each do |place| %>
        <tr>
          <td><p><%=place.id %></p></td>
          <td><p><%=place.name %></p></td>
          <td><p><%=place.service %></p></td>
          <td><p><%=place.updated_at %></p></td>
          <td>
            <%= form_tag("/shop/#{@place.id}/update",{multipart: true}) do %>
              <input type="submit" value="更新">
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    </div>
  </div>
</div>
