

<div class="main top-main">
  <div class="top-message">
    <p>東京の主要駅を入力して検索</p>
    <%= form_tag("/search_exe",:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
    <!-- <div id="app">
      <p :class="classObject">Hello</p>
      <button @click="isActive = !isActive">switch</button>
    </div> -->
  </div>
  <div class="">
    <h3>東京の食べログランキング</h3>
    <div class="ranking_result container-fluid" id="app" style="padding-top:50px;">
      <ul>
        <template v-for="(item, i) in items">
          <li>
            <a :href="item.href">
              <p>{{i+1}}位　{{ item.name }}</p>
              <img v-bind:src="item.img" alt="">
            </a>
          </li>
        </template>
      </ul>
      <paginate
        :page-count="getPageCount"
        :page-range="3"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'＜'"
        :next-text="'＞'"
        :container-class="'pagination'"
        :page-class="'page-item'">
      </paginate>
    </div>
  </div>
</div>

<script type="text/javascript">


  Vue.component('paginate', VuejsPaginate)

  new Vue({
     el: '#app',
     data: {
       parPage: 5,
       currentPage: 1,
       items: [
         <% @tabelogContents.each do |content|
             @tabelogTitle = content.xpath(".//a[@class='list-rst__rst-name-target cpy-rst-name js-ranking-num']")
             tabeloghref = @tabelogTitle.attribute("href")
             charset = nil
             html = open(tabeloghref) do |page|
               #charsetを自動で読み込み、取得
               charset = page.charset
               #中身を読む
               page.read
             end
             @tabelogDoc = Nokogiri::HTML(open(tabeloghref))
             tabelogImg = @tabelogDoc.css("img.p-main-photos__slider-image").attribute("src")
             if not tabelogImg
               tabelogImg = @tabelogDoc.css("a.js-imagebox-trigger img").attribute('src')
             end
             %>
             {name:'<%= @tabelogTitle.text %>', href: '<%= tabeloghref %>', img: '<%= tabelogImg %>'},
         <% end %>
       ]
     },
     methods: {
      clickCallback: function (pageNum) {
         this.currentPage = Number(pageNum);
      }
     },
     computed: {
       getItems: function() {
        let current = this.currentPage * this.parPage;
        let start = current - this.parPage;
        return this.items.slice(start, current);
       },
       getPageCount: function() {
        return Math.ceil(this.items.length / this.parPage);
      },
     }
   })
</script>
