

<div class="main top-main">
  <div class="top-message">
    <p style="padding:10px 0px;">東京の主要駅を入力して検索</p>
    <%= form_tag("/search_exe",:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
    <!-- <div id="app">
      <p :class="classObject">Hello</p>
      <button @click="isActive = !isActive">switch</button>
    </div> -->
  </div>
  <div class="rankings tabelog_rankings">
    <div class="ranking_results" id="tabelog_ranking" style="padding-top:50px;">
      <h3 style="padding:10px 0px;">東京の食べログランキング</h3>
      <ul>
        <template v-for="item in getItems">
          <a :href="item.href">
            <li class="ranking_result">
                <div class="ranking_result_img">
                  <v-lazy-image :src="item.img" :src-placeholder="item.img" ></v-lazy-image>
                </div>
                <div class="ranking_result_content">
                  <h2>{{item.no}}位　{{ item.name }}</h2>
                </div>
            </li>
          </a>
        </template>
      </ul>
      <paginate
        :page-count="getPageCount"
        :page-range="3"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'＜'"
        :next-text="'＞'"
        :container-class="'pagination'"
        :page-class="'page-item'">
      </paginate>
    </div>
  </div>
</div>
<script type="text/javascript">

  const VLazyImagePlugin = window['VLazyImage'].VLazyImagePlugin;
  Vue.use(VLazyImagePlugin);

  Vue.component('paginate', VuejsPaginate)

  new Vue({
     el: '#tabelog_ranking',
     data: {
       parPage: 5,
       currentPage: 1,
       tabelogitems: [
         <% @cnt = 1
           @tabelogContents.each do |content|
             if @cnt == 11
               break
             end
             @tabelogTitle = content.xpath(".//a[@class='list-rst__rst-name-target cpy-rst-name js-ranking-num']")
             tabeloghref = @tabelogTitle.attribute("href")
             charset = nil
             html = open(tabeloghref) do |page|
               #charsetを自動で読み込み、取得
               charset = page.charset
               #中身を読む
               page.read
             end
             @tabelogDoc = Nokogiri::HTML(open(tabeloghref))
             tabelogImg = @tabelogDoc.css("img.p-main-photos__slider-image").attribute("src")
             if not tabelogImg
               tabelogImg = @tabelogDoc.css("a.js-imagebox-trigger img").attribute('src')
             end
             @tabelogJanle = @tabelogDoc.at_css('#rst-data-head > table:nth-child(2) > tbody > tr:nth-child(3) > td > span')
             # tabelogMap = @tabelogDoc.at_css("img.rstinfo-table__map-image").attribute("src")
             %>
             {no: <%= @cnt %>, name:'<%= @tabelogTitle.text %>', href: "<%= tabeloghref %>", img: "<%= tabelogImg %>", janle: "<%= @tabelogJanle.text %>"},
         <% @cnt += 1
         end %>
       ]
     },
     methods: {
      clickCallback: function (pageNum) {
         this.currentPage = Number(pageNum);
      }
     },
     computed: {
       getItems: function() {
        let current = this.currentPage * this.parPage;
        let start = current - this.parPage;
        return this.tabelogitems.slice(start, current);
       },
       getPageCount: function() {
        return Math.ceil(this.tabelogitems.length / this.parPage);
      },
     }
   })



</script>
