<div class="main places-index">
  <div class="container">

    <p>検索</p>
    <%= form_tag("/search_exe",:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>


    <%
    if params[:search]
      @places.each do |place|
        %>
        <div class="" style="padding-top:50px;">
        <h3><%= place.service %></h3>
        <%
        if place.service == 'Retty' then
          @tabelogContents.each do |tabelogContent| %>
            <p><%= tabelogContent.xpath %></p>
        <% end
      elsif place.service == '食べログ' then %>
      <ul>
      <% @cnt = 1
          @tabelogContents.each do |content| %>
          <% tabelogTitle = content.xpath(".//a[@class='list-rst__rst-name-target cpy-rst-name js-ranking-num']")
            tabelogImg = content.xpath(".//img[@class='js-thumbnail-img js-cassette-img js-analytics lazy-loaded']").attribute("src") %>
          <li>
            <p><%= @cnt %>位　<%= link_to tabelogTitle.text, tabelogTitle.attribute("href").text %></p>
            <img src="<%= tabelogImg %>">
          </li>
          <% @cnt += 1
          end
        end
        %></ul>
      </div><%
      end
    else %>
      <div class="available">
        <h3>検索可能エリア一覧</h3>
        <% @allPlaces.each do |place|%>
          <%= link_to "#{place.name}", "/search_exe?utf8=✓&search=#{place.name}" %>
    <% end %>
    </div>
    <% end
    %>
    <ul>
      <h3>食べログのランキングページ一覧</h3>
      <%
        @allPlaces.each do |place|
        if place.service == '食べログ' %>
          <li>
            <p><%= link_to "#{place.name}エリアのランキングページはこちら", place.link %></p>
          </li>
        <% end
       end %>
    </ul>
    <ul>
      <h3>Rettyのランキングページ一覧</h3>
      <% @allPlaces.each do |place|
        if place.service == 'Retty' %>
        <li>
          <p><%= link_to "#{place.name}エリアのランキングページはこちら", place.link %></p>
        </li>
      <% end
       end
      %>
    </ul>
  </div>
</div>
