<div class="main places-index">
  <div class="container">

    <p>検索</p>
    <%= form_tag("/search_exe",:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>


    <%
    if params[:search]
      @places.each do |place|
        %>
        <div class="ranking_result" style="padding-top:50px;">
        <h3><%= place.service %></h3>
        <ul>
          <%
          if place.service == '食べログ' then %>
              <% @cnt = 1
              @tabelogContents.each do |tabelogContent|
               tabelogTitle = tabelogContent.xpath(".//a[@class='list-rst__rst-name-target cpy-rst-name js-ranking-num']")
               tabeloghref = tabelogTitle.attribute("href").text
               charset = nil
               html = open(tabeloghref) do |page|
                 #charsetを自動で読み込み、取得
                 charset = page.charset
                 #中身を読む
                 page.read
               end
               @tabelogDoc = Nokogiri::HTML(open(tabeloghref))
               @tabelogImg = @tabelogDoc.css("img.p-main-photos__slider-image").attribute("src")
               if not @tabelogImg
                 @tabelogImg = @tabelogDoc.css("a.js-imagebox-trigger img").attribute('src')
               end

               # tabelogImg = tabelogContent.xpath(".//img[@class='js-thumbnail-img js-cassette-img js-analytics lazy-loaded']").attribute("src") %>
              <li>
                <p><%= @cnt %>位　<%= link_to tabelogTitle.text, tabeloghref %></p>
                <img src="<%= @tabelogImg %>" class="ranking_result_img">
              </li>
              <% @cnt += 1
            end
          end
          if place.service == '一休' then %>
              <% @cnt = 1
              @ikkyuContents.each do |content|
               ikkyuhref = content.xpath(".//a[@class='cover_3Ae77']").attribute("href")
               ikkyuTitle = content.xpath(".//h3[@class='restaurantName_2s_sg']")
               ikkyuImg = content.xpath(".//img[@alt='#{ikkyuTitle}']").attribute("src") %>
              <li>
                <p><%= @cnt %>位　<%= link_to ikkyuTitle.text, ikkyuhref.value %></p>
                <img src="<%= ikkyuImg %>">
              </li>
              <% @cnt += 1
            end
          end
          if place.service == 'Retty' then
            @rettyContents.each do |rettyContent| %>
            <li>
              <p><%= rettyContent.xpath("//h3[@class='restaurant__name']").text %></p>
            </li>
          <% end
          end
          %>
        </ul>
      </div><%
      end
    else %>
    <div class="available">
        <h3>検索可能エリア一覧</h3>
        <% @tabelogs.each do |tabelog|%>
          <%= link_to "#{tabelog.name}", "/search_exe?utf8=✓&search=#{tabelog.name}" %>
        <% end %>
    </div>
    <% end
    %>
    <ul>
      <h3>食べログのランキングページ一覧</h3>
      <%
        @allPlaces.each do |place|
        if place.service == '食べログ' %>
          <li>
            <p><%= link_to "#{place.name}エリアのランキングページはこちら", place.link %></p>
          </li>
        <% end
       end %>
    </ul>
    <ul>
      <h3>Rettyのランキングページ一覧</h3>
      <% @allPlaces.each do |place|
        if place.service == 'Retty' %>
        <li>
          <p><%= link_to "#{place.name}エリアのランキングページはこちら", place.link %></p>
        </li>
      <% end
       end
      %>
    </ul>
    <ul>
      <h3>一休のランキングページ一覧</h3>
      <% @allPlaces.each do |place|
        if place.service == '一休' %>
        <li>
          <p><%= link_to "#{place.name}エリアのランキングページはこちら", place.link %></p>
        </li>
      <% end
       end
      %>
    </ul>
  </div>
</div>
