<div class="main user-show">
  <div class="container">
    <%
    @places.each do |place|
      %>
      <div class="" style="padding-top:50px;">
      <h3><%= place.service %></h3>

      <%
      if place.service == '食べログ'
         @cnt = 1
          @tabelogContents.each do |content| %>
          <% tabelogTitle = content.xpath(".//a[@class='list-rst__rst-name-target cpy-rst-name js-ranking-num']")
            tabelogImg = content.xpath(".//img[@class='js-thumbnail-img js-cassette-img js-analytics lazy-loaded']").attribute("src") %>
          <li>
            <p><%= @cnt %>位　<%= link_to tabelogTitle.text, tabelogTitle.attribute("href").text %></p>
            <img src="<%= tabelogImg %>">
          </li>
          <% @cnt += 1
          end
      end
      if place.service == 'Retty' %>
      <%  @rettyTitles.each do |title| %>

          <p><%= title.text %></p>
        <%
        end
      %></div><%
      end
    end

    link = "https://retty.me/restaurant-search/search-result/?latlng=35.689729%2C139.700464&free_word_area=%E6%96%B0%E5%AE%BF%E9%A7%85&station_id=1376"
    charset = nil

    html = open(link) do |page|
      #charsetを自動で読み込み、取得
      charset = page.charset
      #中身を読む
      page.read
    end

    # Nokogiri で切り分け
    @tabelogDoc = Nokogiri::HTML(open(link))
    @tabelogImgs = @tabelogDoc.xpath("//h3[@class='restaurant__name']")

    @tabelogImgs.each do |tabelogImg| %>
    <p>テスト</p>
      <p><%= tabelogImgs.text %></p>
  <% end %>
  </div>
</div>
