<div class="main user-show">
  <div class="container">
    <%
    @places.each do |place|
      %>
      <div class="" style="padding-top:50px;">
      <h3><%= place.service %></h3>

      <%
      if place.service == '食べログ'
         @cnt = 1
          @tabelogContents.each do |content| %>
          <% tabelogTitle = content.xpath(".//a[@class='list-rst__rst-name-target cpy-rst-name js-ranking-num']")
            tabelogImg = content.xpath(".//img[@class='js-thumbnail-img js-cassette-img js-analytics lazy-loaded']").attribute("src") %>
          <li>
            <p><%= @cnt %>位　<%= link_to tabelogTitle.text, tabelogTitle.attribute("href").text %></p>
            <img src="<%= tabelogImg %>">
          </li>
          <% @cnt += 1
          end
      end
      if place.service == 'Retty' %>
      <%  @rettyTitles.each do |title| %>
          <p><%= title.text %></p>
        <%
        end
      end
      if place.service == '一休' %>
      <%  @ikkyuTitles.each do |title| %>
          <p><%= title.text %></p>
        <%
        end
      %></div><%
      end
    end %>
  </div>
</div>
