<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-burger-menu@2.0.3/dist/vue-burger-menu.umd.js"></script>
    <script src="https://unpkg.com/vuejs-paginate@latest"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("FoodApp", "/") %>
        <% else %>
          <%= link_to("FoodApp", "/") %>
        <% end %>
      </div>
      <div id="header-app" class="header-menus">
        <slide right>
        <% if @current_user %>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            <%= link_to("エリア追加", "/insert") %>
            <%= link_to("エリア検索", "/place/search") %>
            <%= link_to("投稿一覧", "/posts/index") %>
            <%= link_to("新規投稿", "/posts/new") %>
            <%= link_to("ユーザー一覧", "/users/index") %>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
        <% else %>
            <%= link_to("FoodAppとは", "/about") %>
            <%= link_to("エリア検索", "/place/search") %>
            <%= link_to("新規登録", "/signup") %>
            <%= link_to("ログイン", "/login") %>
        <% end %>
        </slide>
      </div>
    </header>
    <div id="page-wrap">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

    </div>
  </body>
  <%= javascript_pack_tag 'hello_vue' %>
  <script type="text/javascript">

    // const {Slide} = window['vue-burger-menu'];
    // Vue.component('slide', Slide);
    // new Vue({
    //   el: '#header-app',
    //   data: {
    //     right: true,
    //   }
    // });
  </script>
</html>
